@model PostViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="notification-bar" id="notification">
    <p id="notificationText" class="notification-bar__message"></p>
</div>

<h1>Create</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Abstract" class="control-label"></label>
                <input asp-for="Abstract" class="form-control" />
                <span asp-validation-for="Abstract" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control" rows="10" data-sample-preservewhitespace></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

    <script>
        var simplemde = new SimpleMDE();
    </script>

}

<div id="drop-area">
    <form method="post" enctype="multipart/form-data">
        <p>Drop images here</p>
        <input type="file" id="file" multiple accept="image/*" onchange="handleFiles(this.files)">
        <label class="button" for="file">Select files</label>
    </form>
    <progress id="progress-bar" max=100 value=0></progress>
    <div id="gallery" />
</div>

<script src="~/js/image_upload.js"></script>
