@model PostViewModel

<section class="post">
    <h1>@Model.Title</h1>
    <p class="content">

    </p>
    <a href="/">Back</a>
</section>

<div class="container">

    <div class="row">
        <div class="col-md-12">            
            <p>@Html.Raw(Markdig.Markdown.ToHtml(Model.Content))</p>
        </div>
    </div>

</div>
